{% extends 'index.html' %}

{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="project-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-12 mb-3">
                    {{ form.field.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.field(class = "form-control", placeholder="Type here ...", required = False) }}
                    {% if form.field.errors %}
                    <ul class = "errors">
                        {% for error in form.field.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>          
				
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
            {{table1}}
        
					<div class="table-responsive">
                        <table class="table table-bordered table-dark">
                            <thead>
                                <tr>
									<th>Researcher_name</th>
                                    <th>Researcher_lastname</th>
                                    <th>Researcher_id</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for view in view1 %}
                                    <tr>
										<td> {{ view.researcher_name }} </td>
                                        <td> {{ view.researcher_lastname }} </td>
                                        <td> {{ view.researcher_id }} </td>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
    </div>
    </div>
</div>
{% endblock content%}